.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavBar{
  margin: 0;
  width: 100%;
  height: 3.6em;
  background-color: #61dafb;
  display: flex;
  justify-content: right;
  align-items: center;

}

.Login{
  display: flex;
justify-content: right;
align-content:  center;
}

.LBtn{
  margin-left: 10px;
  border-radius: 10px 10px 
}

#froala-editor {
  min-height: 200px;
  margin: 0px 8px 20px 40px;
  border: 1px solid #ccc;
}

.boxInput{
  margin: 4px;
  height: 200px;
  width:400px;
  border-radius: 10px 10px;
  background-color: aquamarine;
  display: inline-block;
  overflow-y: auto;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
}
.CommentLike{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}



.CommentBtn{
  padding: 5px 15px;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
  margin: 10px;
}
.CommentBtn:active{
  background-color: #f00404;
  box-shadow:  rgb(49, 41, 41);
  transform: translateY(2px);
}
.ListComment{
  display: flex;
  list-style-type: none;
  text-align: left;
}
.LikeBtn{
  display: flex;
  justify-content: end;
  height: 20px;
  width: 40px;
}
.wrapp{
  text-align: center;
}
.PostComponent{
width: 100%;
height: 100%;
}

#root{
  text-align: center;
}
.boxGap{
  position: sticky;
  top:0px
}
.h5_tag{
  color: #f00404;
}
.LoginCenter{
  width:100%;
  height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
